<!---start navbar--->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <b><img src="assets/store.jpg" id="logo">My Store</b>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/mainuser">User Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/mainproduct']">Product Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/mainprovider']">Provider Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/maininvoice']">Invoice Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/form',1]">Form first test</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/addproduct']">Add Product template driven</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/addproduct2']">Add Product Reactive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/loginuser']">Login user</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/showfacture']">List Invoice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/showProviders']">List Providers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/addUser']">Add User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/product/listProduct']">List Products </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/addnewproduct']">add new Product </a>
          </li>
          
          
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <!---end navbar--->
 